<div class="container">
    <h2 class="titulo">Administracion de sitio</h2>
    <div class="contenedor">
        <div class="item" routerLink="/trenesReg">
            <img class='logo' src="../../../assets/img/logo_negro.png" alt="">TRENES
        </div>
        <div class="item" routerLink="/estaciones">
            <img class='logo' src="../../../assets/img/logo_negro.png" alt="">ESTACIONES
        </div>
        <div class="item" routerLink="/usuarioRegistrado">
            <img class='logo' src="../../../assets/img/logo_negro.png" alt="">USUARIOS
        </div>
        <div class="item" routerLink="/metodoPago">
            <img class='logo' src="../../../assets/img/logo_negro.png" alt="">METODOS PAGOS
        </div>
        <div class="item" routerLink="/viajeRegistrado">
            <img class='logo' src="../../../assets/img/logo_negro.png" alt="">VIAJES
        </div>
        <div class="item" routerLink="/tipoUsuario">
            <img class='logo' src="../../../assets/img/logo_negro.png" alt="">TIPO USUARIOS
        </div>
    </div>
</div>