<div class="container p-4">
    <div class="postal">
        <div class="card-body">
            <img class="foto" src="../../../assets/img/foto/emiliano.jpg" alt="">
            <p>
                Emiliano
            </p>
        </div>

        <div class="card-body">
            <img class="foto" src="../../../assets/img/foto/larry.jpg" alt="">
            <p>
                Larry
            </p>
        </div>

        <div class="card-body">
            <img class="foto" src="../../../assets/img/foto/leandro.jpg" alt="">
            <p>
                Leandro
            </p>
        </div>
    </div>
</div>