<div class="container p-4">
    <h2>TRENES REGISTRADOS</h2>
    <div class="card-body">
        <table datatable [dtOptions]="dtOptions" class="tabla">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>NOMBRE</td>
                    <td>NUMERO</td>
                    <td>DESCRIPCION</td>
                    <td>CANT PASAJEROS</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of trenes">
                    <td>{{item.id}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.numero}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.cant_pasajeros}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>