<div class="container p-4">
    <div class="card-body">
        <table datatable [dtOptions]="dtOptions" class="tabla">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>ORIGEN</td>
                    <td>DESTINO</td>
                    <td>TREN</td>
                    <td>FECHA/HORA SALIDA</td>
                    <td>FECHA/HORA LLEGADA</td>
                    <td>ACCIONES</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>valor 1</td>
                    <td>valor 1</td>
                    <td>valor 1</td>
                    <td>valor 1</td>
                    <td>valor 1</td>
                    <td>valor 1</td>
                    <td>valor 1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>